#root{
    margin: auto;
}

.datepicker{
    display: flex;
    width: 280px;
    border: 1px solid #ccc;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: wheat;
}

h1,strong{
    color: white;
}
.datepicker input{
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
}

.datepicker button{
    border:  none;
    background: white;
    padding: 8px;
    cursor: pointer;
}

.datepicker-wrapper{
    width: 260px;
    position: relative;
}
.calender {
    margin-top: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

.calender-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}
.dates span {
    padding:  6px;
    border: 1px solid #eee;
}

.calender {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    border: 1px solid #eee;
    padding: 10px;
}
.dates span:not(.empty):hover {
  background: #ef7c7c;
  color: #fff;
  cursor: pointer;
}

.dates span.active{
    background-color: #2563eb;
    color: white;
}

.left-right{
    cursor: pointer;

}
.left-right:hover{
    cursor: pointer;
}

